:root {
  --color-bg-primary: #3a3a3a;
  --color-bg-secondary: #919185;
  --color-bg-tertiary: #b0b0a0;
  --color-text-primary: #ff7600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* ///////////////////-------//////////// */

/* common style  */
.section__title {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3rem;
}
.btn {
  font-size: 2rem;
  font-weight: normal;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 3rem auto;
}
.btn__primary {
  background-color: #ff7600 !important;
  color: #fff !important;
  border-radius: 0.5rem;
}
/* common style  */

/* header area start  */
.header__area {
  color: #fff;
  padding: 3rem 0;
  height: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18rem;
}
.header__area.other__page {
  background-color: var(--color-bg-primary);
}
.header__area .menu__area {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3rem;
  left: 5rem;
  z-index: 10;
}
.header__area .menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1.5rem;
}
.menu__custom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.menu__custom .menubar {
  display: inline-block;
  width: 4rem;
  height: 0.2rem;
  background-color: #fff;
}
span.menubar.top.rotate {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(40deg);
}
span.menubar.bottom.rotate {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-40deg);
}
span.menubar.middle.hidden {
  opacity: 0;
  visibility: hidden;
}
.top,
.middle,
.bottom {
  transition: transform 0.5s ease;
}
.header__area .menu h4 {
  font-size: 2rem;
}
.header__area .logo img {
  width: 65rem;
  height: auto;
}
.logo {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.header__area .talk__to--us {
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  position: fixed;
  top: 3rem;
  right: 5rem;
  z-index: 7;
}
/* header area end  */

/* offccanvvas menu start  */
.offcanvas__menu--area {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding: 5rem;
  padding-top: 12rem;
  z-index: 9;
  transition: all 0.8s;
}
.offcanvas__menu--area.show {
  left: 0;
}
.mainmenu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
  gap: 1rem;
  padding-left: 0;
}
.mainmenu a {
  font-size: 3rem;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  padding: 1rem 0;
}
.mainmenu a.active {
  color: #ff7600;
}
.social__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social__links h4 {
  font-size: 2.2rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.social__links a {
  color: #fff;
  font-size: 2rem;
  display: inline-block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
}
/* offccanvvas menu ned  */

/* about us area start  */
.hero__area {
  color: #fff;
  position: relative;
  height: 130rem;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
}
.hero__content {
  margin-top: 80rem;
}
.hero__area .about__us {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.8rem;
}

/* about us area end  */

/* product area start  */
.product__area {
  background-color: var(--color-bg-primary);
  padding: 4rem 0;
}
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.product {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 30rem;
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.favourite {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #c6c6c3;
}
.product img {
  width: 100%;
  height: 40rem;
}
.product__description {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: all 0.3s;
}
.product__description .name {
  font-size: 2rem;
  font-weight: bold;
}
.product__description .price {
  font-size: 1.8rem;
  font-weight: 500;
}
.product:hover .product__description {
  background-color: #e0e0e0;
}
/* product area end  */

/* service area start  */
.service__area {
  overflow: hidden;
}
.service {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 100%;
}
.service > img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: all 0.3s;
}
.service__content {
  background-color: var(--color-bg-secondary);
  padding: 3rem 5rem;
  transition: all 0.3s;
  height: 100%;
}
.service__content .service__title {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.service__content .service__desc {
  color: #000;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.service__btn {
  background-color: #fff;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #000;
  font-weight: 500;
  transition: all 0.3s;
}
.service:hover > img {
  filter: brightness(1);
}
.service:hover .service__content {
  background-color: var(--color-bg-tertiary);
}
.service:hover .service__btn {
  background-color: #ff7600;
}
/* service area end  */

/* cta area start  */
.cta__area {
  background-image: url("../images/cta.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 18rem 0;
  color: #fff;
  position: relative;
  z-index: 1;
}
.cta__area::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  z-index: -1;
}
.cta p {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.cta__link {
  font-size: 4.5rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta__link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* cta area end  */

/* partners area start  */
.partners__area {
  padding: 2rem 0;
  background-color: #1e395f;
}
.partners {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  white-space: nowrap;
  animation: move 20s linear infinite;
  animation-fill-mode: forwards;
}
.partner img {
  width: 20rem;
  aspect-ratio: 1/1;
}
@keyframes move {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* partners area end  */

/* /////////////products page start //////////// */

/* products filter area start  */
.products__filter--area {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  background-color: #919185;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form__container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.fieldset {
  cursor: pointer;
}
.fieldset__name {
  display: flex;
  align-items: center;
  color: #fff;
}
.fieldset__name iconify-icon {
  font-size: 3rem;
}
/* products filter area end  */

/* all products start */
.products__filter--area {
  margin-top: 18rem;
}
/* all products end  */
/* //////////////products page end //////////////// */

/* //////////////single product page start //////////////// */
.product__single--area {
  margin-top: 18rem;
  padding: 4rem 0;
}
.product__single--img {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.5);
}
.product__single--img img {
  width: 100%;
  height: auto;
}
.wishlist__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2rem;
}
.wishlist__icon iconify-icon {
  font-size: 3.5rem;
  color: var(--color-bg-tertiary);
}
.product__single--desc {
  padding: 2rem;
  color: #3a3a3a;
}
.product__single--desc * {
  color: #3a3a3a;
}
.product__title {
  font-size: 3.5rem;
}
.product__price {
  font-size: 3rem;
  font-weight: normal;
}
.product__info--group {
  margin-top: 2rem;
}
.product__info--group p {
  font-size: 2rem;
  font-weight: normal;
}
.product__info--group p.title {
  font-size: 2rem;
  font-weight: bold;
}
.product__variant {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}
.product__variant img {
  width: 10rem;
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.5);
}
.product__desc {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2.5rem;
}
.btn__wishlist {
  display: inline-block;
}
.btn__wishlist .btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.btn__wishlist iconify-icon {
  color: var(--color-bg-primary);
  font-size: 2.1rem;
}
/* //////////////single product page end //////////////// */
